<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex布局练习</title>
    <link rel="stylesheet" href="../static/css/flex.css">
</head>

<body>
    <header class="page-header">
        <img src="../static/images/logo.png" alt="logo">
        <ul>
            <li><a href="#">书海无涯</a></li>
            <li><a href="#">旅行胜地</a></li>
            <li><a href="#">影音圣殿</a></li>
            <li><a href="#">脑洞大开</a></li>
        </ul>
        
    </header>
    <div class="page-content">
        <div class="content-nav">
            <div class="item">
                <img src="../static/images/a-rizhiguanli.png" alt="日志">
                <span>日志管理</span>
            </div>
            <div class="item">
                <img src="../static/images/a-xiangjipaizhao.png" alt="相机">
                <span>相册图片</span>
            </div>
            <div class="item">
                <img src="../static/images/a-mubiaodaohang.png" alt="目标">
                <span>目标导航</span>
            </div>
            <div class="item">
                <img src="../static/images/a-gonggaotongzhi.png" alt="公告">
                <span>公告通知</span>
            </div>
            <div class="item">
                <img src="../static/images/shujuzhanshi.png" alt="数据展示">
                <span>数据展示</span>
            </div>
        </div>
    </div>



    <script>
        window.
            onload
            = function () {
                Particles.
                    init
                    ({
                        // 基础配置
                        selector:
                            '.background',
                        color: ['#025959', '#02735E', '#012E40'],
                        maxParticles: 100,
                        connectParticles: true,

                        // 针对不同尺寸页面设置不同响应效果
                        responsive: [
                            {
                                breakpoint:
                                    768
                                ,
                                options: {
                                    maxParticles:
                                        200
                                    ,
                                    color:
                                        '#48F2E3'
                                    ,
                                    connectParticles:
                                        false
                                }
                            }, {
                                breakpoint:
                                    425
                                ,
                                options: {
                                    maxParticles:
                                        100
                                    ,
                                    connectParticles:
                                        true
                                }
                            }, {
                                breakpoint:
                                    320
                                ,
                                options: {
                                    maxParticles:
                                        0

                                    // disables particles.js
                                }
                            }
                        ]
                    });
            };
    </script>


    <canvas class="background"></canvas>
    <script src="../static/js/particles.js"></script>
</body>

</html>